remote_read:
  - url: ${remote_read_url}
    read_recent: ${remote_read_recent}
    basic_auth:
      username: ${remote_read_username}
      password: ${remote_read_password}
remote_write:
  - url: ${remote_write_url}
    basic_auth:
      username: ${remote_write_username}
      password: ${remote_write_password}

scrape_configs:
%{ for exporter in exporters ~}
  - job_name: ${exporter.name}
    scheme: ${exporter.scheme}
    honor_labels: ${exporter.honor_labels}
    scrape_interval: ${exporter.scrape_interval}
    static_configs:
      - targets: [${exporter.endpoint}]
%{ endfor ~}
%{ for app in internal_app_maps ~}
  - job_name: ${ app.host }:${ app.port }
    scrape_interval: ${default_scrape_interval}
    dns_sd_configs:
    - names:
      - ${app.host}
      type: 'A'
      port: ${app.port}
%{ endfor ~}

%{ if include_alerting }
alerting:
  alertmanagers:
  - scheme: https
    static_configs:
    - targets: [${alertmanager_endpoint}]

rule_files:
  - alert.rules
%{ endif }
