global:
  scrape_interval: 15s

scrape_configs:

%{ for exporter in exporters ~} 
- job_name: ${exporter.name}
  %{ if contains(keys(exporter), "scheme") }
  scheme: ${exporter.scheme} 
  %{ endif }
  %{ if contains(keys(exporter), "honor_labels") }
  honor_labels: ${exporter.honor_labels} 
  %{ endif }
  static_configs:
    - targets: [${exporter.endpoint}]
%{ endfor ~}

%{ if include_scrapes }
${scrapes}
%{ endif }

%{ if include_alerting }
alerting:
  alertmanagers:
  - scheme: https
    static_configs:
    - targets: [${alertmanager_endpoint}]

rule_files:
  - alert.rules
%{ endif }
