%{ if elasticsearch_url != "" }
# config file version
apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
- name: "Elasticseach"
  orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name:          Elasticseach
  orgId:         1
  type:          "elasticsearch"
  access:        proxy
  url:           "${elasticsearch_url}"
  basicAuthUser: "${elasticsearch_username}"
  database:      "logstash-*"
  basicAuth:     true
  isDefault:     false
  editable:      false
  secureJsonData:
       basicAuthPassword:    "${elasticsearch_password}"
  jsonData:    
       esVersion:             70
       timeField:             "@timestamp"

%{ endif }
