%{ if prometheus_yearly_endpoint != "" }
# config file version
apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
- name: PrometheusYearly
  orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name: PrometheusYearly
  type: prometheus
  access: proxy
  orgId: 1
  url: "https://${prometheus_yearly_endpoint}"
  basicAuth: false
  withCredentials: false
  isDefault: false
  editable: false
%{ endif }
