# config file version
apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
- name: Prometheus
  orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: "https://${prometheus_endpoint}"
  withCredentials: false
  isDefault: false
  editable: false
%{ if basic_auth_password != "" }
  basicAuth: true
  basicAuthUser: ${basic_auth_username}
  secureJsonData:
    basicAuthPassword: ${basic_auth_password}
%{ else }
  basicAuth: false
%{ endif }
